<div class="card">
  <div class="card-header">
    <h3>Binding</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Escribe tu nombre: </label>
      <input type="text" [(ngModel)]="sNombre"
        class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Escribe tu nombre">
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>
    <button class="btn btn-primary" (click)="borrar()">Borrar</button>
  </div>
  <div class="card-footer text-muted">
    <p>Hola {{sNombre}}</p>
  </div>
</div>
