<div class="card">
    <div class="card-header">
      <h3>PIPES</h3>
    </div>
    <div class="card-body">
        <p >Tenemos diversas variables </p>
      </div>
    <div class="card-footer text-muted">
      <p >Resultados </p>
      <p>{{sNombre | uppercase}}</p>
      <p>{{sNombre | lowercase}}</p>
      <p>{{sNombre | titlecase}}</p>
      <p>{{nPrecio | currency:'EUR'}}</p>
      <p>{{nValor | number:'3.1-3'}}</p>
      <p>{{dFecha | date:'fullDate'}}</p>
      <p>{{oDatos | json}}</p>
    </div>
  </div>
