
<header class="col-12">
<h3>Formulario template driven</h3>
</header>
<form novalidate class="col-sm-8" #formtd="ngForm" (ngSubmit)="enviarForm()">
    <!--Text-->
    <fieldset>
        <legend>Datos del Usuario</legend>
        <div class="form-group row">
            <!--Etiqueta / Campo "Mombre"-->
            <label for="name" class="col-3">Nombre</label>
            <input type="text" class="form-control col-9"
            name="name" id="name" required minlength="3"
            placeholder="Indica tu nombre (es obligatorio)"
            [ngModel]="oUsuario.nombre"
            #nameState="ngModel">
        </div>
        <div class="error" [hidden]="nameState.valid || nameState.untouched" >
          <p [hidden]="!nameState.errors?.required">Este campo es requerido</p>
          <p [hidden]="!nameState.errors?.minlength">El nombre debe tener al menos 3 caracteres</p>
        </div>

        <div class="form-group row">
            <!--Etiqueta / Campo "Apellidos"-->
            <label for="lastname"  class="col-3">Apellidos</label>
            <input type="text" class="form-control col-9"
            id="lastname" name="lastname" required
            placeholder="Indica tu apellido (es obligatorio)"
            [ngModel]="oUsuario.apellidos"
            #lastnameState="ngModel">
        </div>
        <div class="error" [hidden]="lastnameState.valid || lastnameState.untouched" >
          <p>Este campo es requerido</p>
        </div>

        <div class="form-group row">
            <!--Etiqueta / Campo "Telefono"-->
            <label for="phoneNumber" class="col-3">Teléfono</label>
            <input type="text" class="form-control col-9"
            id="phoneNumber" name="phoneNumber" required pattern="^\d(9)$"
            placeholder="Indica tu teléfono (es obligatorio)"
            [ngModel]="oUsuario.telefono"
            #phoneNumberState="ngModel">
        </div>
        <div class="error" [hidden]="phoneNumberState.valid || phoneNumberState.untouched" >
          <p>Este campo es requerido</p>
        </div>
    </fieldset>

    <!--Radio-Buttos-->
    <fieldset class="form-group">
        <legend>Selecciona una Impresora</legend>
            <div *ngFor="let print of aImpresoras" class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                        name ="printer" id="{{print.id}}"
                        [value]="print" [(ngModel)]="oImpresora">
                        {{print.nombre}}
                </label>
              </div>
    </fieldset>
    <!--Checkbox-->
    <fieldset class="form-group">
        <legend>Seleción de opciones</legend>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox"  class="form-check-input"
                id="color" name="color"
                [ngModel]="isColor">
                Imprimir en color
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox"  class="form-check-input"
                id="tono" name="tono"
                [ngModel]="isClaro">
                Tono claro</label>
        </div>
    </fieldset>
    <!--Select/options -->
    <fieldset class="form-group">
        <legend>Departameto</legend>
        <div class="form-group row">
            <select class="form-control"
                id="select" name="select" [(ngModel)]="oDpto">
                <option *ngFor="let dpto of aDptos"
                        [ngValue]="dpto">{{dpto.nombre}}</option>
              </select>
        </div>
    </fieldset>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary mr-2" [disabled]="formtd.invalid">
            Enviar</button>
        <button type="button" class="btn btn-primary" (click)="borrarForm()" [disabled]="formtd.pristine">
            Borrar</button>
    </div>
</form>

<div class="col-4">
<h4>Resultado</h4>
<p>{{oUsuario | json}}</p>
<p>{{isColor}}</p>
<p>{{isClaro}}</p>
<p>{{oDpto | json}}</p>
<p>UnTouched {{formtd.untouched}}</p>
<p>Uso del formulario (pristine) {{formtd.pristine}}</p>
<p>Validez del formulario: {{formtd.valid}}</p>
</div>

